<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="restful.demo.mapper.TestMapper">

    <select id="getUserList" resultType="NoticeModel">
        select id,title,content,local_date
        from NoticeModel
        WHERE id = #{id}
    </select>


    <select id="getItem" resultType="Item">
        select * from item
    </select>

    <select id="getBook" resultType="BookInfoVO">
        select * from BOOK_INFO_TBL
    </select>

    <select id="getNotice" resultType="NoticeModel">
        select * from NOTICEMODEL
    </select>

    <select id="selectById" resultType="NoticeModel" parameterType="int" >
        select * from NOTICEMODEL
        where  id =#{id}
    </select>

    <insert id="insert" parameterType="NoticeModel">
        insert into NoticeModel(id,title,content)
        values (#{id},#{title},#{content})
    </insert>

    <update id="update" >
        update NoticeModel
        set title = #{title},
            content = #{content}
        where id = #{id}
    </update>

    <delete id="delete" >
        DELETE NoticeModel
        WHERE id = #{id}
    </delete>

    <!-- <select> 태그를 이용하여 select 쿼리임을 나타냄. 앞서 mapper에서 말했던 메소드의 이름은 select 쿼리의 id값과 같아야함. -->
    <!--> CDATA 사용이유는 ? MyBatis 사용 시 쿼리문에 비교 연산자 (=)와 같이 부등호( > , < ) 처리가 필요할 때가 있다. <-->
    <select id="selectBoardList" resultType="BoardDto">
		<![CDATA[
        SELECT
            board_idx, title, hit_cnt, FORMATDATETIME(created_datetime, 'yyyy.MM.dd HH:mm:ss') AS created_datetime
        FROM
            t_board
        WHERE
            deleted_yn = 'N'
        ORDER BY board_idx DESC
        ]]>
	</select>


    <insert id="insertBoard" parameterType="BoardDto">
		<![CDATA[
        INSERT INTO t_board
        (
            title, contents, created_datetime
        )
        VALUES
            (
                #{title},
                #{contents},
                NOW()
            )
        ]]>
	</insert>


  <!-- useGeneratedKeys="true" keyProperty="id" -->



</mapper>