<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="restful.demo.mapper.TestMapper">

    <select id="getUserList" resultType="NoticeModel">
        select id,title,content,local_date
        from NoticeModel
        WHERE id = #{id}
    </select>


    <select id="getItem" resultType="Item">
        select * from item
    </select>

    <select id="getBook" resultType="BookInfoVO">
        select * from BOOK_INFO_TBL
    </select>

    <select id="getNotice" resultType="NoticeModel">
        select * from NOTICEMODEL
    </select>

    <select id="selectById" resultType="NoticeModel">
        select * from NOTICEMODEL
        where  id =#{id}
    </select>

    <insert id="insert" parameterType="NoticeModel">
        insert into NoticeModel(id,title,content,local_date)
        values (#{id},#{title},#{content},#{local_date})

    </insert>



</mapper>